


<!DOCTYPE html>
<html lang="en">
  <body>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">

    <section class="wrapper">
      <div class="form signup">
        <header>Signup</header>

        <form [formGroup]="signupForm" (ngSubmit)="handleSignUp()">
          <input type="text" placeholder="Username" formControlName="username" required />

          @if(usernameValidator && usernameValidator.invalid && usernameValidator.touched){
            <span style=" color: rgb(255, 255, 255);">this field is invalid</span>
          }


          <input type="text" placeholder="Email address" formControlName="email" required />

          @if(emailValidator && emailValidator.invalid && emailValidator.touched){
            <span style=" color: rgb(255, 255, 255);">this field is invalid</span>
          }
          

          <input type="password" placeholder="Password" formControlName="password" required />

          @if(passwordValidator && passwordValidator.invalid && passwordValidator.touched){
            <span style=" color: rgb(255, 255, 255);">password must be atleast 8 characters</span>
          }


          <input [disabled]="signupForm.invalid" type="submit" value="Signup" />
          <a routerLink="/login" style="color: rgb(255, 255, 255);">already have an account? Login</a>
        </form>
      </div>

      <div class="form login">
        <header>Todo</header>
        <form action="#">
          <input type="text" placeholder="Email address" required />
          <input type="password" placeholder="Password" required />
          <a href="#">Forgot password?</a>
          <input type="submit" value="Login" />
        </form>
      </div>
    </section>
  </body>
</html>

<router-outlet></router-outlet>


