

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>login</title>


  </head>
  <body>
    <section class="wrapper">
      <div class="form signup">
        <header>change password</header>




        <form [formGroup]="loginForm" (ngSubmit)="handleChangePassword()">

          <input type="password" placeholder="old password" formControlName="oldPassword" required />

          <span style=" color: rgb(255, 255, 255);" *ngIf="oldPassValidator && oldPassValidator.invalid && oldPassValidator.touched">password must be atleast 8 characters</span>

          <input type="password" placeholder=" new password" formControlName="newPassword" required />

          <span style=" color: rgb(255, 255, 255);" *ngIf="newPassValidator && newPassValidator.invalid && newPassValidator.touched">password must be atleast 8 characters</span>

          <input type="password" placeholder=" repeat password" formControlName="repeatPassword" required />

          <span style=" color: rgb(255, 255, 255);" *ngIf="repeatPassValidator && repeatPassValidator.invalid && repeatPassValidator.touched">password must be atleast 8 characters</span>

          <input [disabled]="loginForm.invalid" type="submit" value="change password" />
        </form>
      </div>

      <div class="form login">
        <header>Todo</header>
        <form action="#">
          <input type="text" placeholder="Email address" required />
          <input type="password" placeholder="Password" required />
          <a href="#">Forgot password?</a>
          <input type="submit" value="Login" />
        </form>
      </div>
    </section>
  </body>
</html>
<router-outlet></router-outlet>
